@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    outline-color: rgb(91, 91, 91);
}

body {
    background-color: rgb(10, 10, 11);
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
    color: white;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inset-overlay-shadow {
    box-shadow: inset 0em 0 1em 0 rgba(0, 0, 0, 0.7);
}